$color-1: #FFC12D;
$color-2: #A47503;
$color-3: #F9B718;
$color-4: #2C3E50;
$color-5: #2C3E50;
$color-6: #CFD2D3;
$color-7: #97E411;
$color-8: #558502;
$color-9: #7BC200;
$color-10: #FD7761;
$color-11: #D52E13;
$color-12: #F55C43;
$color-13: #6FD9FC;
$color-14: #0787D4;
$color-15: #47B4F6;
$color-16: #A39CDC;
$color-17: #5B568E;
$color-18: #8781BD;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding-top: 50px;
    padding-left: 50px;
}

.alert {
    display: inline-block;
    position: relative;
    height: 150px;
    width: 570px;
    border: #E2E6E7 1px solid;
    border-radius: 10px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-of-type(odd) {
        clear: both;
    }

    &:nth-of-type(even) {
        margin-right: 0;
    }

    &:last-of-type {
        width: 1170px;
        margin-right: 0;
        margin-bottom: 0;
    }

    &::before {
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50px;
        height: 50px;
        margin-top: 42px;
        margin-left: 50px;
        margin-right: 28px;
    }

    &.yellow {
        background-color: $color-1;

        &::before {
            color: $color-2;
            content: "\f12a";
            font-family: 'FontAwesome';
            font-size: 24px;
            border: $color-3 7px solid;
            border-radius: 50%;
        }

        a::before {
            color: $color-2;
        }
    }

    &.green {
        background-color: $color-7; 

        &::before {
            color: $color-8;
            content: "\f00c";
            font-family: 'FontAwesome';
            font-size: 24px;
            border: $color-9 7px solid;
            border-radius: 50%;
        }

        a::before {
            color: $color-8;
        }
    }

    &.red {
        background-color: $color-10;

        &::before {
            color: $color-11;
            content: "\f00d";
            font-family: 'FontAwesome';
            font-size: 24px;
            border: $color-12 7px solid;
            border-radius: 50%;
        }

        a::before {
            color: $color-11;
        }
    }

    &.blue {
        background-color: $color-13;

        &::before {
            color: $color-14;
            content: "\f0e7";
            font-family: 'FontAwesome';
            font-size: 24px;
            border: $color-15 7px solid;
            border-radius: 50%;
        }

        a::before {
            color: $color-14;
        }
    }

    &.purple {
        background-color: $color-16;

        &::before {
            color: $color-17;
            content: "\f129";
            font-family: 'FontAwesome';
            font-size: 24px;
            border: $color-18 7px solid;
            border-radius: 50%;
        }

        div {

            p {
                width: 95%;
            }
        }

        a {
            right: 1%;
            margin-right: 7px;

            &::before {
                color: $color-17
            }
        }
    }

    div {
        margin-top: 34px;;

        h1 {
            color: $color-4;
            font-family: 'Lato Black';
            font-size: 14px;
            letter-spacing: 0.085rem;
            line-height: 26px;
        }

        p {
            color: $color-5;
            font-family: 'Lato';
            font-size: 14px;
            line-height: 24px;
            margin-top: 6px;
            width: 85%;
        }
    }
    
    a {
        text-decoration: inherit;
        display: inline-block;
        position: absolute;
        right: 3%;
        top: 10%;
        

        &::before {
            font-style: none;
            color: $color-6;
            content: "\f00d";
            font-family: 'FontAwesome';
            font-size: 14px;
        }
    }

    
}

