$color-1: #FFC12D;
$color-2: #A47503;
$color-3: #F9B718;
$color-4: #2C3E50;
$color-5: #2C3E50;
$color-6: #CFD2D3;
$color-7: #97E411;
$color-8: #558502;
$color-9: #7BC200;
$color-10: #FD7761;
$color-11: #D52E13;
$color-12: #F55C43;
$color-13: #6FD9FC;
$color-14: #0787D4;
$color-15: #47B4F6;
$color-16: #A39CDC;
$color-17: #5B568E;
$color-18: #8781BD;
